{
  "extends": "airbnb-base",
  "rules": {
    "padded-blocks": ["off"],
    "no-underscore-dangle": ["error", { "allow": ["_id"]}],
     "linebreak-style": ["off"],
     "no-console": ["off"],
     "devDependencies":["off"],
     "packageDir":["off"],
     "includeInternal":["off"],
     "consistent-return":["off"],
      "import/no-extraneous-dependencies": ["error", { "devDependencies": "true" }],
      "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
}